    <div class="container" id="login-form">

    </div> <!-- /container -->

<script type="text/babel">

	class LoginForm extends React.Component {
		constructor(props) {
			super(props);
			this.state = {
				error: null,
				isLoaded: false,
				user: { email: '', password: ''}
			};

			this.handleClick = this.handleClick.bind(this);
      this.handleChange = this.handleChange.bind(this);
		}

    renderRedirect() {
      if (this.state.isLoaded) {
        window.location.href = '/users/not_authenticated'
      }
    }

    handleChange(event) {
      let user = this.state.user;
      user[event.target.name] = event.target.value;

      this.setState(user);
    }

		handleClick() {
      let form = document.querySelector('form');
      event.preventDefault();
			fetch("/users", {
          method: 'POST',
          body: JSON.stringify({user: this.state.user}),
          headers: new Headers({
            'Content-Type': 'application/json'
          })
				})
				.then(res => res.json())
				.then(
					(result) => {
            if(result.id) {
              this.setState({
                isLoaded: true,
              });
            } else {
              this.setState({
                isLoaded: false,
                error: result.message.join("，")
              });
            }
					}
				)
		}

		render() {
			return (
      <form className="form-signin">
        {this.renderRedirect()}
        <h2 className="form-signin-heading">注册新账户</h2>
        <label htmlFor="inputEmail" className="sr-only">用户名</label>
        <input type="email" id="inputEmail" className="form-control" name="email" value={this.state.user.email} onChange={this.handleChange} placeholder="用户名" required autoFocus />
        <label htmlFor="inputPassword" className="sr-only">密码</label>
        <input type="password" id="inputPassword" className="form-control" name="password" value={this.state.user.password} onChange={this.handleChange} placeholder="密码" required />
        <p className="help-block"><a href="/users/not_authenticated">已有账户？直接登录</a></p>
        <button className="btn btn-lg btn-primary btn-block" type="submit" onClick={this.handleClick}>确认注册</button>
        <p className="help-block"><span className="text-danger">{this.state.error}</span></p>
      </form>
			);
		}
	}

	ReactDOM.render(
		<LoginForm />,
		document.getElementById('login-form')
	);

</script>
